@media (max-width: 768px) {
    .contenedor-cards {
        grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    }

    .title-categoria {
        align-items: center;
    }

    .title-categoria h2 {
        text-align: center;
        margin-left: 0;
    }

    .card {
        width: 250px;
        height: auto;
    }

    .card img {
        width: 150px;
        height: 170px;
    }

    .logo {
        display: none;
    }
}